/* CSS Document */


.productocarrito{
	border:2px solid #6C0;
	height:40px;
	padding:4px;
	background-color:#FFF;
}

#contenidoTop{
height:490px;
}

#contenido #contenidoTop *{
    border:dashed 1px tomato;
}
#contenido #contenidoTop #contieneCarrito{
    width: 100%;
    border:dashed 1px cyan;
}

#contenido #contenidoTop #contieneCarrito #opcionesCarrito{
    width: 90%;
    margin: 0 auto;
}

#contenido #contenidoTop #contieneCarrito #opcionesCarrito ul{
    margin: 0;
    padding: 0;
}

#contenido #contenidoTop #contieneCarrito #opcionesCarrito li{
    list-style: none;
    text-decoration: none;
    
    
    border: solid 2px #6C0;
    width: 200px;
    height: 50px;
    margin: 2px;
    padding: 14px;
}